.idea
node_modules
.vscode-test/
*.txt
*.tgz
*.log
todo.md
.DS_Store
dist
out
*.vsix
.wireit/
.tsbuildinfo
.eslintcache

/packages/*/lib
/packages/*/out
/packages/*/test
/packages/*/index.*
/packages/*/coverage

/packages/vscode-lit-plugin/built
